<form class="col-lg-6 col-sm-12" novalidate>
  <div class="mb-3">
    <Input
      id="title"
      @type="text"
      class="form-control {{if this.invalidTitle "is-invalid"}}"
      placeholder="Add a Title"
      @value={{this.title}} />
    {{#if this.invalidTitle}}
      <div class="invalid-feedback">
        Please enter a Title.
      </div>
    {{/if}}
    </div>
  <div class="mb-3">
    <Textarea
      id="description"
      placeholder="Add a Description"
      class="form-control {{if this.invalidDescription "is-invalid"}}"
      @value={{this.description}} >
    </Textarea>
    {{#if this.invalidDescription}}
      <div class="invalid-feedback">
        Please enter a Description.
      </div>
    {{/if}}
  </div>
  <button type="button" class="btn btn-primary" {{on "click" this.addQuestion}}>Ask a question</button>
</form>