{{page-title "Question"}}
<div class="shadow p-3 mb-5 bg-body rounded">
  <h4 class="text-break">Q: {{@model.question.title}}</h4>
  <p class="shadow-none p-3 mb-5 bg-light rounded text-break">{{@model.question.description}}</p>
</div>

<div class="mb-3">
  <AnswersList
    @questionId={{@model.id}}
    @answers={{@model.answers}} />
</div>
<AddAnswerForm
  @questionId={{@model.id}}
  @addAnswer={{this.addAnswer}} />